/* You can add global styles to this file, and also import other style files */
* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

html, body {
    font: 100%/1.5 Roboto, Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #fafafa;
    color: rgba(0, 0, 0, 0.87);
    height: 100vh;
}

tr {
    height: 32px;
}

th {
    font-weight: normal;
}

th.left {
    text-align: left;
}

th.right {
    text-align: right;
    font-weight: 500;
}

.food-name {
    font-size: 20px;
    text-align: center;
    min-height: 40px;
    border-bottom: 1px solid;
    margin: 24px;
    font-weight: 500;
}
.nutrition-facts {
    margin: auto;
    width: 300px;
}


.search-input-container {
    width: 100%;
    background-color: white;
    height: 44px;
    margin: auto;
    position: relative;
    padding: 6px 9px 0;
    border-radius: 2px;
    box-sizing: border-box;
}

.search-input {
    font-size: 18px;
    border: none;
    padding: 0px;
    margin: 0px;
    height: auto;
    width: 100%;
    background: url(data:image/gif;base64,R0lGODlhAQABAID/AMDAwAAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw%3D%3D) transparent;
    position: absolute;
    margin: auto;
    z-index: 6;
    outline: none;
    font: 16px arial,sans-serif;
    line-height: 34px;
    height: 34px !important;
}

.search-results {
    overflow-y: scroll;
    overflow-x: hidden;
}
.search-result-item:hover { 
  cursor: pointer;
  background-color: #E0E0E0;
}

.search-result-item-name {
    max-width: 90vw;
    white-space: pre;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-right: auto;
}

md-list-item span {
    max-width: 80vw;
}


.subheader {
  height: 48px;
  padding: 16px 16px 8px;
  background: #1565c0;
  color: rgba(255, 255, 255, 0.87);
}

.search-info {
    font-size: 16px; 
    margin: 32px 24px 12px; 
    font-weight: 400
}

.search-icon {
    font-size:64px; 
    height:64px; 
    width: 64px; 
    color:grey
}