<div fxLayout="column" fxLayoutAlign="center">
  <div class="subheader">
    <div fxLayoutAlign="space-between">
    <span [style.font-weight]="500">Nutrition Facts</span>
    <span></span>
    <span>(per 100 g)</span>
    </div>
  </div>
<div fxLayout="column" fxLayoutAlign="start center" *ngIf="!(loading | async) && food; else notfound">

<div class="food-name">{{food?.name}}</div>

<table class="nutrition-facts">
  <tr class="row" *ngFor="let nutrients of food?.nutrients ">
    <th class="left">{{nutrients.nutrient}}</th>
    <th class="right">{{nutrients.gm}} {{nutrients.unit}}</th>
  </tr>
</table>

<button md-fab [color]="fromList ? 'warn' : 'primary'" (click)="fromList ? removeFromList() : addToList(food)" [style.margin-top.px]="16"><md-icon>{{fromList ? 'clear ' : 'add'}}</md-icon></button>
</div>


<div *ngIf="!(loading | async) && !food" fxLayout="column" fxLayoutAlign="start center">
 <span style="margin: 24px">Nothing found</span>
  </div>

</div>