<div fxLayout="column" fxLayoutAlign="center">
  <div class="subheader">
    <div fxFlex fxLayoutAlign="space-between">
    <span [style.font-weight]="500">Nutrition Facts</span>
    <span></span>
    <span>(per 100 g)</span>
    </div>
  </div>
<div fxLayout="column" fxLayoutAlign="start center" *ngIf="!(loading | async)">

<div class="food-name">{{food?.name}}</div>

<table class="nutrition-facts">
  <tr class="row" *ngFor="let nutrients of food?.nutrients ">
    <th class="left">{{nutrients.nutrient}}</th>
    <th class="right">{{nutrients.gm}} {{nutrients.unit}}</th>
  </tr>
</table>

<button md-fab  (click)="addToList(food)" [style.margin-top.px]="16"><md-icon>add</md-icon></button>

</div>